<nav id="main-nav" class="flex justify-between items-center bg-white">

	<!-- Primary Nav -->
	<ul class="flex">
		<li><a href="{{ .Site.BaseURL }}#how-it-works" class="pa2 white no-underline">How it Works</a></li>

        <li><a href="{{ .Site.BaseURL }}#course-details" class="pa2 white no-underline">Details</a></li>

		<li><a href="{{ .Site.BaseURL }}#faq" class="pa2 white no-underline">FAQ</a></li>
	</ul>

    <a href="{{ .Site.BaseURL }}join/#sign-up" title="Sign up now" class="btn cta">
        Sign up now.
    </a>

</nav>
