{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

<section id="sign-up">
    <div class="center pa7 pa5-m">
        <h2 class="f4 f3-m f2-l lh-solid mb7 mb5-m">Get started <strong>in 2 steps.</strong></h2>

        <p class="center relative pl4 mb4">
            <strong class="f3 f2-m lh-solid w-10 tc absolute top-0 left--2 blue-500">1.</strong>
            <strong class="f5 f4-m db lh-solid">Choose the membership fee that is right for you.</strong><br/> We need to keep the lights on and pay for our Discourse hosting. If you want guidance on the amount, here's our suggestion: choose a value that feels like a commitment, but also that you can comfortably afford.
        </p>

        <p class="center relative pl4 mb4">
            <strong class="f3 f2-m lh-solid w-10 tc absolute top-0 left--2 blue-500">2.</strong>
            <strong class="f5 f4-m db lh-solid">Create an account and start participating.</strong><br/> We'll protect your identity (your full name and email will never be displayed within the community), but we don't allow anonymous sign-ups to prevent the community in general.
        </p>

        <p class="center tc">
            <strong>Scroll down to <span class="bg-highlight">get started</span> 👇</strong>
        </p>
    </div>
</section>

<section id="choose-tuition" class="tc w-96 center mb2">
    <div class="hero-image bg-blue-100 pa4">
        <h2 class="f5 f4-m f3-l lh-solid mb3 measure-narrow mla mra">Choose Your <strong>Weekly Community Membership</strong> contribution:</h2>
        <p class="f5 measure mla mra">You can change your contribution, or cancel, at any time.</p>
        <ul class="tuition-options">
            <li class="tuition-option more-options">
                <a class="tuition-button" href="https://sjmd.memberful.com/checkout?plan=41795" title="Pay $1 per month">$1</a>
            </li>
            <li class="tuition-option more-options">
                <a class="tuition-button" href="https://sjmd.memberful.com/checkout?plan=41796" title="Pay $3 per month">$3</a>
            </li>
            <li class="tuition-option">
                <a class="tuition-button" href="https://sjmd.memberful.com/checkout?plan=41797" title="Pay $7 per month">$7</a>
            </li>
            <li class="tuition-option">
                <a class="tuition-button" href="https://sjmd.memberful.com/checkout?plan=37997" title="Pay $12 per month">$12</a>
            </li>
            <li class="tuition-option">
                <a class="tuition-button" href="https://sjmd.memberful.com/checkout?plan=41799" title="Pay $23 per month">$23</a>
            </li>
            <li class="tuition-option">
                <a class="tuition-button" href="https://sjmd.memberful.com/checkout?plan=41800" title="Pay $35 per month">$35</a>
            </li>
            <li class="tuition-option">
                <a class="tuition-button" href="https://sjmd.memberful.com/checkout?plan=41801" title="Pay $50 per month">$50</a>
            </li>
            <li class="tuition-option more-options">
                <a class="tuition-button" href="https://sjmd.memberful.com/checkout?plan=41803" title="Pay $75 per month">$75</a>
            </li>
            <li class="tuition-option more-options">
                <a class="tuition-button" href="https://sjmd.memberful.com/checkout?plan=41804" title="Pay $100 per month">$100</a>
            </li>
        </ul>
    </div>
    <button id="show-more-options" class="f6 pa1 bg-grey-1" onclick="showMoreTuitionOptions()">More Options</button>

    <a href="/pay-more" id="pay-more" target="_blank" class="dn pa1 f6">
        I want to pay more.
    </a>

    <a href="/cannot-pay" id="pay-less" target="_blank" class="dn pa1 f6">
        I cannot pay, but want to participate.
    </a>
</section>


<script type="text/javascript">

  window.MemberfulOptions = {site: "https://sjmd.memberful.com"};

 (function() {
    var s   = document.createElement('script');

    s.type  = 'text/javascript';
    s.async = true;
    s.src   = 'https://d35xxde4fgg0cx.cloudfront.net/assets/embedded.js';

    setup = function() { window.MemberfulEmbedded.setup(); }

    s.addEventListener("load", setup, false);

    ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
  })();


  // Add more tuition price options

  function showMoreTuitionOptions() {
    var tuitionOptions = document.querySelectorAll(".tuition-option.more-options");
    var button = document.getElementById("show-more-options");
    var lessButton = document.getElementById("pay-less");
    var moreButton = document.getElementById("pay-more");

    [].forEach.call(tuitionOptions, function(el) {
        el.classList.remove("more-options");
    });

    button.classList.add("dn");
    lessButton.classList.remove("dn");
    moreButton.classList.remove("dn");
    lessButton.classList.add("dib");
    moreButton.classList.add("dib");
  }

</script>

{{ end }}
